body {
  font-family: Arial, sans-serif;
}

.parent {
  display: flex;
  justify-content: center;
  border: 5px solid black;
}

p {
  font-size: 24px;
}

.subtitle {
  display: flex;
  justify-content: center;
  border: 5px solid black;
}
